button, .btn {
  border: none;
  background-color: $red;
  color: $black;
  padding: 10px 14px;
  cursor: pointer;
  font-size: 13px;
  transition: background-color 0.2s linear;
  &:hover {
    background-color: $lighterred;
  }
}

 .btn-prev, .bth-next {
   position: relative;
   margin-right: 6px;
   margin-top: -8px;
   z-index: 8;
 }
 