//Header
.main-header {
  // background-image: url(../assets/images/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}
.hero {
  display: flex;
  flex-direction: column;
}
.is-full-height {
  min-height: 50vh;
  // margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    min-height: 70vh;
    // margin-bottom: 40px;
  }  
}
.branding-logo {
  width: 100%;
}
.main-header-head {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  #nav-menu {
    @include hidden; 
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
.main-header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 40px 20px;
}
.header-text {
  color: $white;
  font-size: 2em;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.1em;
  > p {
    text-shadow: 0px 10px 10px #234D3C;
    line-height: 1.2;
    letter-spacing: 0.3em;
    
  }
}

//main
.gallery {
  h2 {
    text-align: center;
    font-size: 2.2em;
    margin-top: 30px;
  }
}
.gallery-img {
  object-fit: cover;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.05);
  }
}
.gallery-img-big {
  height: 350px;
}
.gallery-img-small {
  height: 150px;
}
.popup {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
}
.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.popup-img {
  width: 50%;
}
.popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #de423a;
  font-size: 2.5em;
  text-align: center;
  border-radius: 50%;
  transform: rotate(45deg);
}
.popup-open {
  display: block;
}
.contact {
  .container-flex {
    align-items: flex-start;
  }
  h2 {
    text-align: center;
  }
  .contact-information {
    @media screen and(min-width: 768px) {
      border-right: 1px solid $lighterred;
      border-bottom: none;
    }
  }
  .formular {
    padding: 10px;
    padding-top: 0;
  }
  .formular-label,
  .formular-input-txt,
  .formular-textarea {
    display: block;
    width: 100%;
  }
  .formular-label {
    display: block;
    width: 100%;
  }
  .formular-input-txt {
    padding: 10px;
    margin-bottom: 10px;
  }
  .formular-btn {
    display: block;
    margin: 10px auto;
  }
}
//footer
.main-footer {
  // position: absolute;
  background-color: $black;
  color: $white;
  font-size: 0.8em;
}
.main-footer [class*="icon-"] {
  color: $white;
  text-decoration: none;
  &::before {
    position: relative;
    top: 2px;
    right: 5px;
  }
}
.saborpe-footer {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
  .footer-contact,
  .schedule,
  .footer-social-links {
    padding-left: 10px
  }
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: .7em;
}