//Header
.main-header {
  background-image: url(../assets/images/banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.4);
}
.hero {
  display: flex;
  flex-direction: column;
}
.is-full-height {
  min-height: 50vh;
  @media screen and (min-width: 768px) {
    min-height: 70vh;
  }  
}
.branding-logo {
  width: 100%;
}
.main-header-head {
  background-color: transparent;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  #nav-menu {
    @include hidden; 
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
.main-header-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 40px 20px;
}
.header-text {
  color: $white;
  font-size: 2em;
  text-align: center;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: 0.1em;
  > p {
    text-shadow: 0px 10px 10px #234D3C;
  }
}

//main

//footer
.main-footer {
  // position: absolute;
  background-color: $black;
  color: $white;
  font-size: 0.8em;
}
.main-footer [class*="icon-"] {
  color: $white;
  text-decoration: none;
  &::before {
    position: relative;
    top: 2px;
    right: 5px;
  }
}
.saborpe-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 30px 0;
}
.copyright {
  display: flex;
  justify-content: center;
  font-size: .7em;
}