.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90px;
  .contact-info {
    color: $white;
    @include hidden;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    .contact-info {
      @include show;
    }
  }
}
.nav-bl-contact-info {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }
}
#nav-toggle,
#nav-menu {
  a {
    &:hover  {
      padding: 0;
      border-bottom: 2px solid red;
    }
  }
}
#nav-toggle {
  display: block;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 20px;
    right: 16px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  } 
  /*
   * Just a quick hamburger
   */
  span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color:$white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
    &:first-child {
      transform-origin: 0% 0%;
    }
    &:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }
  input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #cdcdcd;
    &:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }
    &:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px);
    }
  }
  input:checked ~ul {
    transform: none;
  }
  @media screen and(min-width: 768px) {
    display: none;
  } 
}
#menu {
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -190px;
  padding: 30px;
  padding-top: 125px;
  background-color: $black;
  list-style: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  li {
    padding: 10px 0;
    font-size: 22px;
  }
}
#nav-menu {
  @include hidden; 
  ul {
    display: flex;
    >li {
      padding: 10px;
    }
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}