
@mixin uiList() {
  padding-left: 0;
  list-style: none;
}
//////////////////////////
// Hide element from both screenreaders and browsers
// ---
@mixin hidden {
  display: none;
}
@mixin show {
  display: block;
}

//////////////////////////
// Make element invisible while maintaining layout
// ---
@mixin invisible {
  visibility: hidden;
}